main{
    background: linear-gradient(#31AFAB, rgb(57, 57, 188),#31AFAB);
    background-repeat: no-repeat;
    width: 100%;
    height: 1500px;
    position: relative;
}

.box-info1{
    margin-left: 100px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px;
    font-size: 17px;
}

.box-info2{
    margin-top: -350px;
    width: 650px;
    justify-content: start;
    margin-left: 50px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px;
    font-size: 17px;
}

.boxTriangulo{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    padding: 0 130px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.hexagon{
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    background-color: #C5EFA3;
    clip-path: polygon(35% 19%, 65% 19%, 94% 0, 100% 17%, 100% 100%, 0 100%, 0 17%, 6% 0);

}

.boxnegra{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: 662px;
    background:linear-gradient(90deg,rgb(216, 113, 216),purple,rgb(216, 113, 216));
    background-repeat: no-repeat;
    clip-path: polygon(35% 19%, 65% 19%, 94% 0, 100% 18%, 100% 100%, 0 100%, 0 18%, 6% 0);


}

.us10 a{
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px;
    font-size: 19px;
    background:linear-gradient(90deg,rgb(216, 113, 216) ,rgb(194, 3, 194));
    background-repeat: no-repeat;
    border: 2px solid rgb(216, 113, 216);
    border-radius: 20px;
    padding: 7px;
    transition: 0.7s ease;
    margin: 0 5px;
}

.us10 a:hover{
    background:plum;
    font-size: 22px;
}

.us10{
    position: absolute;
    left: 50%;
    bottom: 300px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px;
    font-size: 20px;
}

.boxRegre{
    position: absolute;
    top: 1300px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 455px;
    height: 110px;
}