
.izquierda{
    font-size:40px;
    width: 600px;
    text-align: center;
    padding-right: 100px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
.derecha{
    font-size: 40px;
    width: 600px;
    text-align: center;
    padding-left: 100px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

main{
    background: linear-gradient(#31AFAB, rgb(57, 57, 188),#31AFAB);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    position: relative;
}

.bajo{
padding-bottom: 100px;
}

.imginicio{
    width: 775px;
    height: 150px;
    transition: 1s;
}

.espacio-resumen{
    height: 400px;
    position: relative;
}

h4{
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.4px;
}

h2{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
}


.resu-pro{
    text-align: center;
    font-size: 20px;
    padding: 0 40px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px;
}

.resu-opc{
    position: absolute;
    bottom: 0;
    padding: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px;
}
.orden{
    display: flex;
    position: relative;
}

.negro-izquierda-arriba{
    background-color: black;
    width: 775px;
    height: 150px;
    clip-path: polygon(0% 100%, 0% 0%,100% 0%, 80% 100%);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -1px;
    transition: 1s;
}   

.negro-derecha-abajo{
    width: 775px;
    height: 150px;
    background-color: black;
    clip-path: polygon(0% 100%,20% 0%, 100% 0%,100% 100%);  
    position: absolute;
    right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -1px;
    transition: 1s;
}

.opciones-izquierda-arriba{
    background-color: #C5EFA3;
    width: 775px;
    height: 150px;
    clip-path: polygon(0% 100%, 0% 0%,99% 0%, 79.5% 100%);
    transition: 1s;
}

.opciones-derecha-abajo{
    background:linear-gradient(90deg,rgb(216, 113, 216),purple);
    background-repeat: no-repeat;
    width: 775px;
    height: 150px;
    clip-path: polygon(1% 100%,20.5% 0%, 100% 0%,100% 100%);  
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}


.negro-izquierda-abajo{
    width: 775px;
    height: 150px;
    background-color: black;
    clip-path: polygon(0% 100%, 0% 0%,80% 0%, 100% 100%);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -1px;
    transition: 1s;
}

.negro-derecha-arriba{
    width: 775px;
    height: 150px;
    background-color: black;
    clip-path: polygon(20% 100%,0% 0%, 100% 0%,100% 100%);
    position: absolute;
    right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: -1px;
    transition: 1s;
}

.opciones-izquierda-abajo{
    background:linear-gradient(90deg,purple,rgb(216, 113, 216));
    background-repeat: no-repeat;
    width: 775px;
    height: 150px;
    clip-path: polygon(0% 100%, 0% 0%,79.5% 0%, 99% 100%);
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opciones-derecha-arriba{
    width: 775px;
    height: 150px;
    background-color: #dd339c;
    clip-path: polygon(20.5% 100%,1% 0%, 100% 0%,100% 100%);
    transition: 1s;
}




.orden:hover .negro-izquierda-arriba,
.orden:hover .negro-izquierda-arriba .opciones-izquierda-arriba,
.orden:hover .negro-derecha-abajo,
.orden:hover .negro-derecha-abajo .opciones-derecha-abajo,
.orden:hover .imginicio{
    width: 844px;
    height: 200px;
    transition: 1s;
} 

.orden:hover .negro-izquierda-abajo,
.orden:hover .negro-izquierda-abajo .opciones-izquierda-abajo,
.orden:hover .negro-derecha-arriba,
.orden:hover .negro-derecha-arriba .opciones-derecha-arriba,
.orden:hover .imginicio{
    width: 844px;
    height: 200px;
    transition: 1s;
}


.formulario{
    padding: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}
.boxForm{
    background-color: white;
    border-radius: 60px;
    border: 3px solid black;
    padding: 20px;
}
hr{
    display: flex;
    color: black;
    background-color: black;
    width: 90%;
    height: 2px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleForm{
    color: black;
}

label{
    font-size: 18px;
}
input{
    border-radius: 9px;
    height: 20px;
    background: linear-gradient(#31AFAB, rgb(57, 57, 188));
    background-repeat: no-repeat;
    color: white;
    font-size: 15px;
    text-align: center;
    border: 2px solid black;
}

.nombre{
    margin: 30px 0px;
}

.nom{
    width: 350px;
}

.tel{
    width: 100px;  
}
.email{
    padding-left: 20px;
}
.ema{
    width: 240px;
}

.radio{
    margin-right: 9px;
    scale: 1.5;
}
.radioSeparacion{
    margin-left: 80px;
}

.tipo{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

select{
    text-align: center;
    border-radius: 9px;
    height: 25px;
    background: linear-gradient(#31AFAB, rgb(57, 57, 188));
    background-repeat: no-repeat;
    color: white;
    font-size: 15px;
    border: 2px solid black;
    width: 350px;
}

option{
    background-color: #24262B;
}

.nombre{
    display: flex;
    margin-top: 15px;
}

h3{
    margin-top: 20px;
}
.centro{
    display: flex;
    justify-content: center;
}
.formCuentanos{
    color: black;
    padding-top: 20px;
    font-size: 19px;
}
textarea{
    width: 100%;
    margin-top: 10px;
    min-height: 200px;
    border: 5px solid rgb(57, 57, 188);
    border-radius: 20px;
    resize: none;
    padding:7px;
    font-size: 14px;
    overflow-y: scroll;
}

textarea::-webkit-scrollbar {
  display: none; 
}

.botones{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

button{
    background:linear-gradient(90deg,rgb(216, 113, 216) ,rgb(194, 3, 194));
    background-repeat: no-repeat;
    margin: 0 40px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    width: 100px;
    font-size: 16px;
    transition: 0.5s;
}
.boton{
    background:linear-gradient(90deg,rgb(194, 3, 194),rgb(216, 113, 216));
    background-repeat: no-repeat; 
}

button:hover{
    scale: 1.1;
}
.boxRegre{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible; 
}
