main{
    background: linear-gradient(#31AFAB, rgb(57, 57, 188),#31AFAB);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    position: relative;
}
 
.info1{
    padding-left: 100px;
    font-size: 18px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.3px;
}

li{
    padding: 3px;
}

.info2{
    width: 500px;
    margin-top: -155px;
    margin-left: -60px;
    font-size: 18px;
}

.box-info2{
    display: flex;
    justify-content: start;
    padding: 0 100px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.3px;
}

.boxTriangulo{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 80px;
}

.circulo{
    width: 415px;
    height: 415px;
    background:radial-gradient(circle,rgb(216, 113, 216),purple,rgb(216, 113, 216));
    background-repeat:no-repeat; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.boxRegre{
    position: absolute;
    bottom: 100px;
    left: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 455px;
    height: 110px;
}
