main{
    background: linear-gradient(#31AFAB, rgb(57, 57, 188),#31AFAB);
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.info1{
    width: 900px;
    font-size: 18px;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.3px;
}

.info2{
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.3px;
    width: 530px;
    font-size: 18px;
}

.box-info2{
    display: flex;
    justify-content: end;
    padding-right: 15px;
    margin-top: -200px;
}
li{
    padding: 3px;
}
.box-info1{
    margin-top: -30px;
    margin-left: -80px;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    padding-top: 100px;    
}

.cuadrado{
    width: 370px;
    height: 320px;
    background-color: #C5EFA3;
    border: 4px solid black;
}

.cuadrado img{
    width: 370px;
    height: 320px;
}

.boxRegre{
    position: absolute;
    bottom: -550px;
    left: 35%;
    transform: translateX(-50%);
    overflow: visible; 
}

